.body{
    margin: 0px;
}

.logo{
    margin-left: 3%;
    margin-top: 1%;
    width: 10%;
}

.total_btn{
    position: absolute;
    top : 90vh;
    height: 6vh;
    left: 82vw;
    color:white;
    text-decoration-line: none;
    font-size: 1vw;
}

.total_btn:hover{
    font-size: 1.1vw;
}

.Cannav{
    width: 100%;
    height: 20vh;
    background: #4586B7BF;
}

.Cannav0{
    width: 100%;
    height: 20vh;
    background: #4586B7BF;
}

.Cannav1{
    width: 100%;
    height: 20vh;
    background: #E61E2B66;

}


.Cannav2{
    width: 100%;
    height: 20vh;
    background:#53996FB8;
    ;
}


.Word{
    position: relative;
    float:right;
    margin-right: 5vw;
    color: white;
    margin-right: 2%;
    text-align: right;
    line-height: 3.4vh;
}
.face{
    position: relative;
    height: 100%;
    float: right;
    margin-right: 5vw;
}
.cannavparty{
    font-size: 1.2vw;
    margin-bottom: 0px;
    padding-top: 3vh;
}

.cannavname{
    font-size: 1vw;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.1vw;
}

.cannavslogan{
    font-size: 1vw;
    margin-top: 0px;
}