.Homebtn{
    color:white;
    text-decoration: none;
    position: absolute;
    top:2vh;
    left: 2vw;
    font-size: 2.3vh;
}

.Homebtn:hover{
    font-size: 2.35vh;
}

.can_home_btn{
    color: white;
    text-decoration-line: none;
    padding-bottom: 3vh;
    margin-left: 9.4vw;
    font-size: 1vw;
    letter-spacing: 0.09vw;
}
.can_home_btn:hover{
    color:yellow;
}