.container0{
    margin-top: 3.5vh;
    position: relative;
    float: left;
    width: 22vw;
    height: 65vh;
    margin-left: 7.8vw;
    border-radius: 25px;
    background: linear-gradient(138.27deg, rgba(0, 128, 226, 0.6) 7.2%, rgba(0, 78, 161, 0.9) 90.66%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.container1{
    margin-top: 3.5vh;
    position: relative;
    float: left;
    width: 22vw;
    height: 65vh;
    margin-left: 7.8vw;
    border-radius: 25px;
    background: linear-gradient(324.79deg, rgba(230, 30, 43, 0.9) 8.75%, rgba(230, 30, 43, 0.4) 89.21%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.container2{
    margin-top: 3.5vh;
    position: relative;
    float: left;
    width: 22vw;
    height: 65vh;
    margin-left: 7.8vw;
    border-radius: 25px;
    background: linear-gradient(315.05deg, #29AD36 7.04%, rgba(83, 153, 111, 0.72) 91.53%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.candidate_img{
    position: inherit;
    width: 50%;
    margin-left: 25%;
    display: block;

}

.candidate_party0{
    width: 100%;
    text-align: center;
    position: inherit;
    color: white;
    margin-bottom: 0%;
    font-size: 1.3vw; 
    border-bottom: solid 2px rgba(255, 255, 255, 0.571);
    padding-bottom: 0.7vh;
}



.candidate_party1{
    width: 100%;
    text-align: center;
    position: inherit;
    color: white;
    margin-bottom: 0%;
    font-size: 1.3vw; 
    border-bottom: solid 2px rgba(255, 255, 255, 0.571);
    padding-bottom: 0.7vh;
}


.candidate_party2{
    width: 100%;
    text-align: center;
    position: inherit;
    color: white;
    margin-bottom: 0%;
    font-size: 1.3vw; 
    border-bottom: solid 2px rgba(255, 255, 255, 0.571);
    padding-bottom: 0.7vh;

}
.candidate_name{
    position: inherit;
    font-size: 1.5vw;
    color: white;
    margin-left: 37%;
    margin-top: 1.2%;
    letter-spacing: 0.6vw;
    margin-bottom: 0;
}

.candidate_promise{
    position: inherit;
    color: white;
    margin-left: 25%;
    margin-top: 1.5%;
    font-size: 1.2vw;

}

.candidate_btn{
    position: absolute;
    bottom: 4vh;
    right: 5.2vw;
    color:white;
    text-decoration-line:none ;
    font-size: 1.2vw;
}

.candidate_btn:hover{
    color: black;
}



