.Category1{
    color: white;
    text-decoration-line: none;
    border-bottom: 2px white solid;
    position: relative;
    float: left;
    margin-right: 2vw;
    margin-left: 10vw;
}

.Category2{
    color: white;
    text-decoration-line: none;
    border-bottom: 2px white solid;
    position: relative;
    float: left;
    margin-right: 2vw;
}

.Category3{
    color: white;
    text-decoration-line: none;
    border-bottom: 2px white solid;
    position: relative;
    float: left;
    margin-right: 2vw;
}


.Category4{
    color: white;
    text-decoration-line: none;
    border-bottom: 2px white solid;
    position: relative;
    float: left;
    margin-right: 2vw;
}

.Category5{
    color: white;
    text-decoration-line: none;
    border-bottom: 2px white solid;
    position: relative;
    float: left;
    margin-right: 2vw;
}

.Category1:hover{
    color: yellow;
    border-bottom: 2px yellow solid;
}

.Category2:hover{
    color: yellow;
    border-bottom: 2px yellow solid;

}
.Category3:hover{
    color: yellow;
    border-bottom: 2px yellow solid;

}
.Category4:hover{
    color: yellow;
    border-bottom: 2px yellow solid;

}
.Category5:hover{
    color: yellow;
    border-bottom: 2px yellow solid;

}
.Promise{
    color: white;
    position: relative;
    clear: both;
    margin-top: 2vh;
    margin-left: 10vw;
    white-space:pre-wrap;
    line-height: 3vh;

}

.leeCategory1{
    width: 52%;
    height: 45vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.leeCategory2{
    width: 52%;
    height: 104vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.leeCategory3{
    width: 52%;
    height: 56vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.leeCategory4{
    width: 52%;
    height: 30vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.leeCategory5{
    width: 52%;
    height: 50vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}


.yoonCategory1{
    width: 52%;
    height: 50vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.yoonCategory2{
    width: 52%;
    height: 80vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.yoonCategory3{
    width: 52%;
    height: 39vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.yoonCategory4{
    width: 52%;
    height: 44vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.yoonCategory5{
    width: 52%;
    height: 25vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.ahnCategory1{
    width: 52%;
    height: 51vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.ahnCategory2{
    width: 52%;
    height: 80vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.ahnCategory3{
    width: 52%;
    height: 36vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.ahnCategory4{
    width: 52%;
    height: 38vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}

.ahnCategory5{
    width: 52%;
    height: 37vh;
    background-color: rgba(154, 143, 123, 0.306);
    border: solid white 2px;
    padding-top: 2vh;
    padding-left: 1.5vw;
}
.categorytitle{
    color: white;
    margin-left: 10vw;
    margin-top: 5vh;
    font-size: 1.2vw;

}