

.pyetitle{
    color: black;
    font-size: 1.2vw;
    position: inherit;
    padding-top: 1.4vh;
    padding-left: 0.3vw;
}

.pye{
    width: 50vw;
    height: 60vh;
    border: none;

}

.pyecontainer{
    width: 49vw;
    height: 60vh;
    border: none;
    margin-left: 10vw;
    margin-top: 10vh;
    position: inherit;
    clear: both;
    margin-bottom: 6vh;
    background-color: rgba(211, 211, 211, 0.64);
    
}

